@mixin btn($display) {
  display: $display;
  border-radius: 4px;
  border: 1px solid transparent;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  font-size: inherit;
  width: auto;
}

.btn {
  @include btn(inline-block);
}

.btn:hover {
  cursor: pointer;
}
