.sectionTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}

.trendIcon {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.trendIcon span {
  border-radius: 25px;
}

.trendInfo strong {
  font-size: 1.15em;
}

.section {
  width: 100%;
  padding: 0.5rem;
  border-top: 4px solid;
}

.section h2 {
  padding: 0;
  margin: 0;
}

.gallery {
  width: 100%;
  position: relative;
}

.gallery .preferences {
  width: 100%;
  text-align: center;
}

.gallery .previous {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gallery .forward {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.gallery .previous button,
.gallery .forward button {
  padding: 0;
}
