.trendIcon {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.trendIcon span {
  border-radius: 25px;
}

.trendInfo strong {
  font-size: 1.15em;
}

.section {
  width: 100%;
  padding: 0.5rem;
  // border-top: 4px solid;
}

.browser {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  text-align: center;
}

.sectionTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}

.section h2 {
  padding: 0;
  margin: 0;
}

.dateRangePicker {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: inherit;
  padding: 5px;
}

.dateRangePicker > div {
  width: 160px;
}

.comparator {
  display: flex;
  flex-wrap: wrap;
}

.comparator .kpiSelector {
  font-weight: bold;
  text-align: center;
}

.comparator .kpiComparison {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.gallery {
  width: 100%;
  position: relative;
}

.gallery .preferences {
  width: 100%;
  text-align: center;
}

.gallery .previous {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gallery .forward {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.gallery .previous button,
.gallery .forward button {
  padding: 0;
}
